@page "/Departements"
@inherits DepartementsComponent

<div class="row py-3">
    <div class="col-md-9">
        <h3>@L["Departements"]</h3>
    </div>
    <div class="col-md-3 ">
        <RadzenButton ButtonStyle="ButtonStyle.Primary" Click="@(()=>SubmitAdd())" Icon="add" class="text-sm" Text="@L["Add depertement"]"></RadzenButton>
    </div>
</div>
<RadzenContent>
    <RadzenDataGrid @ref="@grid0" Data="Departements" TItem="Department" AllowSorting="true" AllowFiltering="true" FilterMode="FilterMode.Simple">
        <Columns>
            <RadzenDataGridColumn Property="Name" Title="@L["Name"]" TItem="Department" />
            <RadzenDataGridColumn Property="Location" Title="@L["Localisation"]" TItem="Department" />
            <RadzenDataGridColumn Property="Manager.FullName" Title="@L["Manger"]" TItem="Department" />
            <RadzenDataGridColumn TItem="Department" Width="120px">
                <Template Context="SubContext">
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="edit" Size="ButtonSize.Medium" Click="@((args) => Edit(SubContext))" class="mr-2" />
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium" Click="@((args) =>Delete(SubContext))" />
                </Template>
            </RadzenDataGridColumn>
        </Columns>

    </RadzenDataGrid>
</RadzenContent>

