@page "/c"
@inherits BasePageClient
<RadzenStack>
    <EditForm EditContext="editContext">

        <RadzenRow class="my-2">
            <RadzenColumn Size="4">
                @L["Name"] :
            </RadzenColumn>
            <RadzenColumn Size="8">
                <RadzenTextBox @bind-Value="Ressource!.Name" Placeholder="@L["Contenu Name"]" class="w-100" />
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow class="my-2">
            <RadzenColumn Size="4">

                @L["Contenu Type"] :
            </RadzenColumn>
            <RadzenColumn Size="8">
                <RadzenRadioButtonList @bind-Value="Ressource!.RessourceType" class="w-100">
                    <Items>
                        <RadzenRadioButtonListItem Value="(int)RessourceType.URL" Text="Url" />
                        <RadzenRadioButtonListItem Value="(int)RessourceType.VEDIO" Text="Vedio Youtube" />
                        <RadzenRadioButtonListItem Value="(int)RessourceType.File" Text="File" />
                    </Items>
                </RadzenRadioButtonList>
            </RadzenColumn>
        </RadzenRow>


        <RadzenRow class="my-2">
            <RadzenColumn Size="4">
                @L["Contenu"] :
            </RadzenColumn>
            <RadzenColumn Size="8">                
                @switch (Ressource!.RessourceType)
                {
                    case (int)RessourceType.URL:
                        <RadzenTextBox @bind-Value="url" Placeholder="@L["https://..."]" class="w-100" />
                        break;
                    case (int)RessourceType.File:
                        @* <RadzenFileInput MaxFileSize="500000" Accept=".pdf, .docx" @bind-Value=@FileContent TValue="string" class="w-100"
                                         Change=@(args => OnChangeFile(args, "FileInput")) Error=@(args => OnError(args, "FileInput")) InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "select file" }})" />
 *@
                        <RadzenUpload Url="api/upload" @ref="upload" Complete="@OnComplete" Error="@OnError" />                        
                        
                        break;
                    case (int)RessourceType.VEDIO:
                        <RadzenTextBox Placeholder="@L["Enter Url Vedio"]" class="w-100" />
                        break;
                }
            </RadzenColumn>
        </RadzenRow>
        <div class="mx-auto mt-2 text-center">
            <button @onclick="Submit" type="submit" class="btn btn-primary px-5 mx-3">Submit</button>
            <button type="reset" class="btn btn-danger px-5 mx-3">Rest</button>
            <button type="button" @onclick="@(()=>dialogService!.Close(null))" class="btn btn-secondary px-5">Close</button>
        </div>
    </EditForm>
</RadzenStack>

