@inherits LayoutComponentBase

<div class="page">
    <AuthorizeView>
        @* <NotAuthorized Context="Authorize">
            <RedirectToLogin IsAuthenticated="@Authorize.User.Identity.IsAuthenticated"/> 
        </NotAuthorized> *@
        <Authorized>
    <nav class="row">
        <ul class="nav nav-tabs  col-md-9">
            <li>
                <h2 class="px-4" style="color:purple; font-weight:bold;">Langua Link</h2>
            </li>
            <li class="nav-item">
                <a class="nav-link h-100 @(activeNavItem=="homeTab"?"active":"")" @onclick="@(()=>NavItemClicked("homeTab"))" aria-current="page" href="/Teacher/Dahsboard">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link h-100 @(activeNavItem=="chatgroupTab"?"active":"")" @onclick="@(()=>NavItemClicked("chatgroupTab"))" href="Teacher/chatgroup">Groups Chat</a>
            </li>
            @* <li class="nav-item">
                <a class="nav-link h-100 @(activeNavItem=="profileTab"?"active":"")" @onclick="@(()=>NavItemClicked("profileTab"))" href="/Teacher/Profile">Profile</a>
            </li> *@
            <li class="nav-item">
                <a class="nav-link h-100 @(activeNavItem=="ressourceTab"?"active":"")" @onclick="@(()=>NavItemClicked("ressourceTab"))" href="Teacher/Ressources">Ressources</a>
            </li>
            @* <li class="nav-item">
                <a class="nav-link h-100 @(activeNavItem=="studentsTab"?"active":"")" @onclick="@(()=>NavItemClicked("studentsTab"))" href="Teacher/Students">Students</a>
            </li> *@
            <li style="float:right">
                
            </li>
        </ul>
        <div style="" class="row text-white col-md-3" >      
         
            <NavLink class="nav-link col-8" href="Account/Manage" style="color:purple; font-weight:bold; width:auto;">
                <RadzenIcon Icon="profile" />
                <span class="bi bi-person-fill-nav-menu text-bold" aria-hidden="true"></span>Hi @(context.User.Identity?.Name?.Substring(0, (int)context.User.Identity?.Name.IndexOf("@")))
            </NavLink>
            <div class=" rz-text-align-center col-3" style="">
                <RadzenProfileMenu>
                    <Template>
                        <RadzenGravatar  Email="@context.User.Identity?.Name" Style=""></RadzenGravatar>
                    </Template>
                    <ChildContent>
                        <form action="api/Auth/Logout" method="get">
                            <AntiforgeryToken />
                            <button type="submit" class="nav-link mx-auto" style="background-color: Transparent; border:none; ">
                                <RadzenProfileMenuItem Icon="logout" class="mx-auto" Text="Logout" Style="width:60;">
                                </RadzenProfileMenuItem>
                            </button>
                        </form>
                    </ChildContent>
                </RadzenProfileMenu>
            </div>
        </div>
    </nav>

    <main>
        <article class="content px-4" style="background-color:white">
            @Body
        </article>
    </main>
    
    </Authorized>
</AuthorizeView>
    <RadzenComponents />
</div>

@code{
    public string activeNavItem = "homeTab";
    public void NavItemClicked(string clickedItem)
    {
        activeNavItem = clickedItem;
    }
}