@inherits LayoutComponentBase

<div class="page p-2">
    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link @(activeNavItem=="homeTab"?"active":"")" @onclick="@(()=>NavItemClicked("homeTab"))" aria-current="page" href="/Teacher/Dahsboard">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(activeNavItem=="profileTab"?"active":"")" @onclick="@(()=>NavItemClicked("profileTab"))" href="/Teacher/Profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(activeNavItem=="ressourceTab"?"active":"")" @onclick="@(()=>NavItemClicked("ressourceTab"))" href="Teacher/Ressources">Ressources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(activeNavItem=="studentsTab"?"active":"")" @onclick="@(()=>NavItemClicked("studentsTab"))" href="Teacher/Students">Students</a>                
            </li>
        </ul>
    </nav>

    <main>
        <article class="content px-4" style="background-color:white">
            @Body
        </article>
    </main>
</div>

@code{
    public string activeNavItem = "homeTab";
    public void NavItemClicked(string clickedItem)
    {
        activeNavItem = clickedItem;
    }
}