@page "/Groups"
@layout SideMainLayout
@using Langua.Models;
@inherits GroupsComponent
<h3>Groups</h3>

<div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-3 mb-2">
        <RadzenButton ButtonStyle="ButtonStyle.Primary" Click="@(()=>Add())" Icon="add" class="text-sm" Text="@L["Add New Group"]"></RadzenButton>
    </div>

</div>

<RadzenDataGrid @ref="grid" FilterMode="FilterMode.Simple" AllowFiltering="true" AllowPaging="true" PageSize="3" AllowSorting="true" RowRender="@RowRender" ExpandMode="DataGridExpandMode.Single"
                Data="@Groups" TItem="Groups">
    <Template Context="GroupsContext">
        <RadzenTabs>
            <Tabs>
                <RadzenTabsItem Text="Candidates">
                    <div class="row">
                        <div class="col-md-9"></div>
                        <div class="col-md-3 mb-2">
                            <RadzenButton ButtonStyle="ButtonStyle.Primary" Click="@(()=>Add())" Icon="add" class="text-sm" Text="@L["Add Candidat"]"></RadzenButton>
                        </div>
                    </div>
                    <RadzenDataGrid @ref="gridCandidate" FilterMode="FilterMode.Simple" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@GroupsContext.Candidats" TItem="Candidat">
                        <Columns>
                            <RadzenDataGridColumn TItem="Candidat" Property="Photo">
                                <Template Context="Candidat">
                                    <img src="@Candidat.Photo" class="" width="50px" />
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Candidat" Property="FullName" Title="@L["Full Name"]" />
                            <RadzenDataGridColumn TItem="Candidat" Property="Phone" Title="@L["Phone"]" />
                            <RadzenDataGridColumn TItem="Candidat" Property="Email" Title="@L["Email"]" />
                            <RadzenDataGridColumn TItem="Candidat" Property="Subject.Name" Title="@L["Subject"]" />
                        </Columns>
                    </RadzenDataGrid>
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </Template>
    <Columns>
        <RadzenDataGridColumn TItem="Groups" Property="Name" Title="Name" Width="120px" />
        <RadzenDataGridColumn TItem="Groups" Property="Description" Title="Desciption" Width="200px" />
        <RadzenDataGridColumn TItem="Groups" Property="NbCandidate" Title="NB Candidates" Filterable="false" FormatString="{0:d}" Width="140px" />
    </Columns>
</RadzenDataGrid>
