@page "/Teacher/Dahsboard"
@page "/Teacher/"
@layout TeacherLayout
@using Microsoft.AspNetCore.Authorization
@inherits TeacherDashboardComponent
@attribute [Authorize(Roles="TEACHER")]
<PageTitle>Dashboard Teacher</PageTitle>
<link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">
<RadzenContent>
    <ChildContent>
        <div class="container-fluid">
            <div class="row">
                <!-- note: in the layout margin auto is the key as sidebar is fixed -->
                <div class="mx-auto w-100">
                    <!-- top nav -->
                    <nav class="w-100 d-flex px-auto py-2 mb-4 shadow-sm mx-auto text-center fw-bold text-danger">
                        <label class="text-center mx-auto"> @L["Langua Page is securized and internal platform for tablishement and instuties"]</label>
                    </nav>
                    <!-- main content -->
                    <main class="container-fluid">
                        <section class="row">
                            <div class="col-md-4 col-lg-3">
                               <RadzenCard class="row py-2 mx-1">
                                   <div class="col-3 my-auto">
                                        <RadzenIcon Icon="group" class="text-white" style="background-color: darkblue; border-radius: 4px; font-size:40px; height:40px; width :40px;">
                                      </RadzenIcon>
                                   </div>
                                    <div class="col-8 text-center">
                                        <RadzenLabel Text="@NbCandidates.ToString()" Style="color:darkblue; font-size: 30px;" />
                                      <br />
                                        <RadzenLabel Text="@L["Canddiats"]" Style="color:darkblue; font-size:20px;" />
                                   </div>
                               </RadzenCard>
                            </div>
                            <div class="col-md-4 col-lg-3">
                                <RadzenCard class="row py-2  mx-1">
                                    <div class="col-3 my-auto">
                                        <RadzenIcon Icon="class" class="text-white" style="background-color: green; border-radius: 4px; font-size:40px; height:40px; width :40px;">
                                        </RadzenIcon>
                                    </div>
                                    <div class="col-8 text-center">
                                        <label style="color:green; font-size: 30px;" >@NbRessource</label>
                                        <br />
                                        <label style="color:green; font-size:20px;" >
                                            @L["Ressources"]
                                        </label>
                                    </div>
                                </RadzenCard>
                            </div>

                            <div class="col-md-4 col-lg-3">
                                <RadzenCard class="row py-2  mx-1">
                                    <div class="col-3 my-auto">
                                        <RadzenIcon Icon="inventory" class="text-white" style="background-color: orangered; border-radius: 4px; font-size:40px; height:40px; width :40px;">
                                        </RadzenIcon>
                                    </div>
                                    <div class="col-8 text-center">
                                        <label style="color:orangered; font-size: 30px;">@NbGroups</label>
                                        <br />
                                        <label style="color:orangered; font-size:20px;">
                                            @L["Groups"]
                                        </label>
                                    </div>
                                </RadzenCard>
                            </div>

                            <div class="col-md-4 col-lg-3">
                                <RadzenCard class="row py-2  mx-1">
                                    <div class="col-3 my-auto">
                                        <RadzenIcon Icon="view_list" class="text-white" style="background-color: rebeccapurple; border-radius: 4px; font-size:40px; height:40px; width :40px;">
                                        </RadzenIcon>
                                    </div>
                                    <div class="col-8 text-center">
                                        <label style="color:rebeccapurple; font-size: 30px;">36</label>
                                        <br />
                                        <label style="color:rebeccapurple; font-size:20px;">
                                            Students
                                        </label>
                                    </div>
                                </RadzenCard>
                            </div>
                        </section>

                        <div class="jumbotron jumbotron-fluid rounded bg-white border-0 shadow-sm border-left py-5 row">
                            <div class="container col-7">
                                <h4 style="color:purple;" class=" mb-3 fw-bold">Top Users</h4>
                                <RadzenDataGrid Data="groupCandidats">
                                    <Columns>
                                        <RadzenDataGridColumn TItem="GroupCandidates" Property="Group.Name" Title="@L["Group Name"]">
                                            <Template Context="GrContext">
                                                <label>@GrContext.Group.Name</label>
                                            </Template>
                                        </RadzenDataGridColumn>
                                        <RadzenDataGridColumn TItem="GroupCandidates" Property="Group.Name" Title="@L["Nb Candidates"]" >
                                            <Template Context="GrContext">
                                                <label>@GrContext.</label>
                                            </Template>
                                        </RadzenDataGridColumn>
                                    </Columns>
                                </RadzenDataGrid>
                            </div>
                            
                            <div class="container col-5">
                                <h4 style="color:purple;" class=" mb-3 fw-bold">Your Subjects</h4>
                                <RadzenDataGrid Data="groupCandidats">
                                    <Columns>
                                        <RadzenDataGridColumn TItem="Candidat" Property="Subject.Name" Title="@L["Subject"]" />
                                        <RadzenDataGridColumn TItem="Candidat" Property="Group.Name" Title="@L["Group"]" />
                                    </Columns>
                                </RadzenDataGrid>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </ChildContent>
</RadzenContent>

