@page "/Group-Teacher"
@layout WebUI.Pages.Layout.SideMainLayout
@inherits GroupTeacherComponent
<PageTitle>@L["LanguaLink"] | @L["Group-Teacher"]</PageTitle>

<div class="row py-3">
    <div class="col-md-9">
        <h3>@L["Group/Teacher"]</h3>
    </div>
    <div class="col-md-3 ">
        <RadzenButton ButtonStyle="ButtonStyle.Primary" Click="@(()=>SubmitAdd())" Style="background:purple;" Icon="add" class="text-sm" Text="@L["Add New Subject"]"></RadzenButton>
    </div>

</div>
<RadzenContent>
    
    <RadzenDataGrid @ref="@grid" Data="GroupTeachers" TItem="Models.GroupTeacher" AllowSorting="true" AllowFiltering="true" FilterMode="FilterMode.Simple" >
        <Columns>
            <RadzenDataGridColumn TItem="Models.GroupTeacher" Title="@L["Teacher"]" Property="Teacher.FullName" >
                <Template Context="context">
                    <img src="@context.Teacher?.Photo" alt="@context.Group?.Name" width="50"/>
                    <label>@context.Teacher?.FullName</label>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Models.GroupTeacher" Title="@L["Group"]" Property="Group.Name" />
            <RadzenDataGridColumn TItem="Models.GroupTeacher" Width="120px">
                <Template Context="context">
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="edit" Size="ButtonSize.Medium" Click="@((args) => Edit(context))"  class="mr-2" />
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium" Click="@((args) =>Delete(context))"  />
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</RadzenContent>
