@page "/"
@using Data.Models
@using Data
@using System.Text.Json
<style>
    h1{
        font-size: 20px;
        font-family: arial;
    }
    
    .btn-check:checked + .btn-light {
    background-color: rgb(176, 214, 176);
    border-color: darkgreen;
    color: black;
}

</style>
<h1>Quiz Page</h1>
<!-- <h2> @Quize.questions[0].Description</h2> -->

@if(dataReady){
<div class="question mx-auto">
    
    <hr/>
    <div class="row">
        @if(!answered)
        {             
            <div class="col-8 my-5 mx-auto p-5 border border-secondary">
                    <div class=" text-center p-3 border border-success my-2" >
                        <h1>@currentQuestion.Description</h1>
                    </div>
                    <div class=" ">
                        @foreach(var answer in currentQuestion.Answers){
                            <div class="form-check p-0">
                                <input type="radio" required class="btn-check" @onchange="@((args)=>Checked(currentQuestion.Id, answer.IsOk))" name="@($"{currentQuestion.Id}")" id="@($"{currentQuestion.Id}-{answer.Id}")" autocomplete="off" checked="false" >
                                <label class="btn btn-light  border border-secondary w-100" for="@($"{currentQuestion.Id}-{answer.Id}")">@answer.Description</label>
                            </div>
                        }
                    </div>
                    @if(pos<questions.Count()-1){
                        @if(!answered){
                            <div class="row mx-auto col-4 my-5">
                                <button @onclick="@(()=>Next())" class="btn btn-secondary">Next</button>
                            </div>
                        }
                    }else{
                        <div class="row mx-auto col-8 mb-5">
                            <button @onclick="check" class="btn btn-primary w-100 " type="button">Submit</button>
                        </div>
                    }
            </div>
        }else{
            <div class="card text-white bg-primary mb-3 mx-auto" style="max-width: 28rem;">
                <div class="card-header">Reultat</div>
                <div class="card-body">
                    <h3 class="card-title">You Have <h1>@result </h1> answer correct</h3>
                </div>
            </div>
        }      
        
    </div>
    
</div>
}

