 @page "/"
@page "/Manager/"
@page "/dashboard"
@inherits DashboardComponent
@using Langua.Models
@using Langua.Repositories.Services
@using Microsoft.AspNetCore.Authorization
@layout WebUI.Pages.Layout.SideMainLayout


 @attribute [Authorize(Roles = "ADMIN,MANAGER")] 
<PageTitle>LanguaLink| @L["Admin Dashboard"]</PageTitle>
<HeadContent>
    <meta name="description" content="Rich dashboard created with the Radzen Blazor Components library.">
</HeadContent>

<div class="py-4">
    <RadzenStack Gap="1rem" Style="position: relative">
        <RadzenRow>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
            <RadzenCard Style="position: relative; height :100px">
                <RadzenText TextStyle="TextStyle.H6" class="w-75">@L["Nb All Users"]</RadzenText>
                <RadzenText TextStyle="TextStyle.H2" Class="rz-color-success" Style="position: absolute; right: 1.5rem; top: 1rem;">@NbUsers</RadzenText>
            </RadzenCard>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
            <RadzenCard Style="position: relative; height :100px">
                <RadzenText TextStyle="TextStyle.H6" class="w-75">@L["Nb Teachers"]</RadzenText>
                <RadzenText TextStyle="TextStyle.H2" Class="rz-color-success" Style="position: absolute; right: 1.5rem; top: 1rem;">@NbTeacher</RadzenText>
            </RadzenCard>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
            <RadzenCard Style="position: relative; height :100px">
                <RadzenText TextStyle="TextStyle.H6" class="w-75">@L["NB Candidates"]</RadzenText>
                <RadzenText TextStyle="TextStyle.H2" Class="rz-color-danger" Style="position: absolute; right: 1.5rem; top: 1rem;">@NbCandidat</RadzenText>
                
            </RadzenCard>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
            <RadzenCard Style="position: relative; height :100px">
                <RadzenText TextStyle="TextStyle.H6">@L["NB Groups"]</RadzenText>
                <RadzenText TextStyle="TextStyle.H2" Style="position: absolute; right: 1.5rem; top: 1rem;">@NbGroups</RadzenText>
            </RadzenCard>
            </RadzenColumn>


        <RadzenColumn Size="12" SizeMD="6" SizeLG="3" Visible="@SecurityService.IsAdmin">
            <RadzenCard Style="position: relative; height :100px">
                <RadzenText TextStyle="TextStyle.H6" class="w-75">@L["NB Managers"]</RadzenText>
                <RadzenText TextStyle="TextStyle.H2" Style="position: absolute; right: 1.5rem; top: 1rem;">@NbManagers</RadzenText>
            </RadzenCard>
        </RadzenColumn>

            <RadzenColumn Size="12" SizeMD="6" SizeLG="3" Visible=SecurityService.IsAdmin>
                <RadzenCard Style="position: relative; height :100px">
                    <RadzenText TextStyle="TextStyle.H6" class="w-75">@L["NB Departements"]</RadzenText>
                    <RadzenText TextStyle="TextStyle.H2" Style="position: absolute; right: 1.5rem; top: 1rem;">@NbDepartements</RadzenText>
                </RadzenCard>
            </RadzenColumn>

            <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
                <RadzenCard Style="position: relative; height :100px">
                    <RadzenText TextStyle="TextStyle.H6" class="w-75">@L["NB Teacher / Groupes "]</RadzenText>
                    <RadzenText TextStyle="TextStyle.H2" Style="position: absolute; right: 1.5rem; top: 1rem;">@NbGrTeachers</RadzenText>
                </RadzenCard>
            </RadzenColumn>

    </RadzenRow>
     <hr />
    <RadzenRow>
        <RadzenColumn Size="6">
            <div class="rz-p-0 rz-p-md-12 w-100">
                <RadzenChart Style="width:100%" class="bg-red">
                    <RadzenColumnSeries Data="@GroupsStat" Fill="Purple" Stroke="purple" Title="@L["Nombre Candidates By Group"]" StrokeWidth="0" CategoryProperty="GroupName" ValueProperty="NbCans" />
                    <RadzenColumnOptions Radius="5" Width="50" />
                    <RadzenLegend Position="LegendPosition.Bottom" />
                    
                    <RadzenCategoryAxis Padding="20" />
                    @* <RadzenColumnSeries Data="@revenue2" CategoryProperty="Quarter" ValueProperty="Revenue" /> *@
                </RadzenChart>
            </div>
        </RadzenColumn>
        <RadzenColumn Size="6">
            <RadzenChart>
                    <RadzenPieSeries Data="@NbSessionByGroups"  Title="@L["Nb Session For Group"]" CategoryProperty="GroupName" ValueProperty="NbSessions">
                    <RadzenSeriesDataLabels Visible="true" />
                    <RadzenLegend Visible="true" />
                </RadzenPieSeries>
            </RadzenChart>
            <RadzenLabel Text="@L["Nb Session For Group"]" class="mx-auto text-center" />
        </RadzenColumn>
    </RadzenRow>
</RadzenStack>
</div>
