@page "/UCManager"
@inherits BasePage


<EditForm Model="@Manager" OnValidSubmit="@HandleValidSubmit" class="my-2">
    <div class="text-danger">
      @*   <DataAnnotationsValidator />
        <ValidationSummary /> *@
        @if (Errors.Count() > 0)
        {
            <ul>

                @foreach (var error in Errors)
                {
                    <li>@error</li>
                }
            </ul>
        }
    </div>


    <div class="row my-2">
        <div class="form-group mb-1 col-md-6">
            <label for="Photo">@L["Photo"] :</label>
            <InputFile id="teacher" OnChange="@loadImage" class="form-control" />
        </div>
        <div class="col-md-5">
            <img src="" />
        </div>
    </div> 
    <div class="row d-flex my-2">
        <div class="form-group mb-1 col-md-6">
            <label for="FullName">@L["Full Name"] :</label>
            <RadzenTextBox id="FullName" @bind-Value="Manager.FullName" class="form-control" Name="Full_Name" />
        </div>

        <div class="form-group col-md-6">
            <label for="Phone">@L["Phone"] :</label>
            <RadzenTextBox id="Phone" @bind-Value="Manager.Phone" class="form-control" Name="Phone" />
        </div>
    </div>

    <div class="form-group row my-2">
        <div class="col-3">
            <label for="Email">@L["Email"] :</label>
        </div>
        <div class="col-9 ">
            <RadzenTextBox Name="Email" id="Email" @bind-Value="Manager.Email" class="form-control w-100" Style="width:100%" AutoComplete="false" />
        </div>
    </div> 

    <div class="form-group row my-2">
        <div class="col-3">
            <label for="Email">@L["Departement"] :</label>
        </div>
        <div class="col-9">
            <RadzenDropDown Data="Departements" ValueProperty="Id" class="w-100" TextProperty="Name" @bind-Value="Manager.DepartmentId" />
        </div>
    </div>
    @* <div class="form-group row my-3 ">
        <div class="col-3">
            @L["Change password"]
        </div>
        <div class="col-9">

            <RadzenRadioButtonList @bind-Value="ChangePassword">
                <Items>
                    <RadzenRadioButtonListItem Value="true" Text="@L["Yes"]" />
                    <RadzenRadioButtonListItem Value="false" Text="@L["No"]" />
                </Items>
            </RadzenRadioButtonList>
        </div>
    </div>
    @if (IsEdit && ChangePassword)
    {
        <div class="row ">
            <div class="form-group mb-1 col-md-6">
                <label for="password">Password:</label>
                <RadzenPassword id="password" @bind-Value="Manager.Password" class="form-control" Name="password" AutoComplete="false" />
            <div class="form-group mb-1 col-md-6">
                <label for="password">@L["Confirm Password"]:</label>
                <RadzenPassword id="password" @bind-Value="Manager.ConfirmPassword" class="form-control" Name="ConfirmPassword" AutoComplete="false" />
            </div>
        </div>

    } *@
    <div class="mx-auto mt-2 text-center">
        <button type="submit" style="background-color:purple !important;" class="btn btn-primary px-5 mx-3">Submit</button>
        <button type="reset" class="btn btn-danger px-5 mx-3">Rest</button>
        <button type="button" @onclick="@(()=>dialogService.Close())" class="btn btn-secondary px-5">Close</button>

    </div>
</EditForm>

