@page "/AddCandidate"
@using Langua.Models

@inherits AddCandidateComponent
<PageTitle>Add Candidate</PageTitle>
<div class="px-2">

    <EditForm Model="@candidate" OnValidSubmit="@HandleValidSubmit">
        <div  class="text-danger">
            
            <DataAnnotationsValidator />
            <ValidationSummary />
            @if (Errors.Count() > 0)
            {
                <ul>

                    @foreach (var error in Errors)
                    {
                        <li>@error</li>
                    }
                </ul>
            }
        </div>

        <div class="row">
            <div class="form-group mb-1 col-md-6">
                <label for="Photo">@L["Photo"] :</label>
                <InputFile id="Photo" OnChange="@loadImage" class="form-control" />
            </div>
            <div class="col-md-5">
                <img src="" />
            </div>
        </div>
        <div class="row d-flex">
            <div class="form-group mb-1 col-md-6">
                <label for="FullName">@L["Full Name"] :</label>
                <InputText id="FullName" @bind-Value="candidate.FullName" class="form-control" />
            </div>

            <div class="form-group mb-1 col-md-6">
                <label for="Phone">@L["Phone"] :</label>
                <InputText id="Phone" @bind-Value="candidate.Phone" class="form-control" />
            </div>
        </div>

        <div class="form-group mb-1">
            <label for="Email">@L["Email"] :</label>
            <InputText id="Email" @bind-Value="candidate.Email" class="form-control" />
            @if(!string.IsNullOrEmpty(ErrorMail))
                {<label class="text-danger">@ErrorMail</label>}
        </div>

        <div class="row">
            <div class="form-group mb-1 col-md-6">
                <label for="SubjectId">@L["Subject"] :</label>
                <InputSelect id="SubjectId" TValue="int"  @bind-Value="candidate.SubjectId" class="form-control">
                    @if(subjects is null)
                    {
                        <option value="">None</option>
                    }
                    @foreach (Subject subject in subjects)
                    {
                        <option value="@subject.Id">@subject.Name (ID: @subject.Id)</option>
                    }
                </InputSelect>
            </div>

            <div class="form-group mb-1 col-md-6">
                <label for="CreatedAt">Password:</label>
                <InputText id="CreatedAt" @bind-Value="candidate.Password" class="form-control" />
            </div>
        </div>
        <div class="mx-auto mt-2 text-center">
            <button type="submit" class="btn btn-primary px-5 mx-3">Submit</button>
            <button type="reset" class="btn btn-danger px-5 mx-3">Rest</button>
            <button type="button" @onclick="@(()=>Close())" class="btn btn-secondary px-5">Close</button>

        </div>
    </EditForm>

</div>

