@page "/Candidates"
@layout SideMainLayout
@using Langua.Models;
@inherits CandidatesComponent
<h3>Candidates</h3>

@* <LanguaGrid Columns="@columns" Items="@people" TItem="Candidat" /> *@
<div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2 ">
        <RadzenButton ButtonStyle="ButtonStyle.Primary" Click="@(()=>Add())" Icon="add" class="px-5" Text="@L["Add"]"></RadzenButton>
    </div>

</div>
<RadzenContent>
    <RadzenDataGrid Data="candidates" TItem="Candidat" AllowSorting="true" AllowFiltering="true" FilterMode="FilterMode.Simple" Style="background-color:lightblue">
        <Columns>
            <RadzenDataGridColumn Property="FullName" Title="@L["Full Name"]" TItem="Candidat" />
            <RadzenDataGridColumn Property="Phone" Title="@L["Phone"]" TItem="Candidat" />
            <RadzenDataGridColumn Property="Email" Title="@L["Email"]" TItem="Candidat" />
            <RadzenDataGridColumn Property="Subject" Title="@L["Subject"]" TItem="Candidat" />

            <RadzenDataGridColumn TItem="Candidat">
                <Template Context="ConCandidate">
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="edit" Size="ButtonSize.Medium" Click="@((args) => Edit(ConCandidate))" @onclick:stopPropagation="true" class="mr-2" />
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium" Click="@((args) =>Delete(ConCandidate))" @onclick:stopPropagation="true" />

                </Template>
            </RadzenDataGridColumn>
        </Columns>

    </RadzenDataGrid>
</RadzenContent>