@page "/Candidates"
@layout WebUI.Pages.Layout.SideMainLayout
@using Langua.Models;
@inherits CandidatesComponent
@using Langua.WebUI.Client.Pages;
<div class="row py-3">
    <div class="col-md-9 ">
        <h3>@L["Candidates"]</h3>
    </div>
    <div class="col-md-3 ">
        <RadzenButton ButtonStyle="ButtonStyle.Primary" Click="@(()=>Add())" Icon="add" class="text-sm" Text="@L["Add New Candidate"]"></RadzenButton>
    </div>

</div>
<RadzenContent>
    <RadzenDataGrid @ref="grid0" Data="candidates" TItem="Candidat" AllowSorting="true" AllowFiltering="true" FilterMode="FilterMode.Simple" Style="background-color:lightblue">
        <Columns>
            <RadzenDataGridColumn Property="FullName" FilterValue="fullName" Title="@L["Full Name"]" TItem="Candidat">
                <FilterTemplate >
                    <RadzenTextBox @bind-Value="fullName"></RadzenTextBox>
                </FilterTemplate>
                <Template Context="CanContext">
                    <div>
                        <img src="@CanContext.Photo" width="50" />
                        <span>@CanContext.FullName</span>
                    </div>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Property="Phone" Title="@L["Phone"]" TItem="Candidat" />
            <RadzenDataGridColumn Property="Email" Title="@L["Email"]" TItem="Candidat" />
            <RadzenDataGridColumn Property="Subject.Name" Title="@L["Subject"]" TItem="Candidat" />

            <RadzenDataGridColumn TItem="Candidat" Width="140px">
                <Template Context="ConCandidate">
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="edit" Size="ButtonSize.Medium" Click="@((args) => Edit(ConCandidate))" @onclick:stopPropagation="true" class="mr-2" />
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium" Click="@((args) =>Delete(ConCandidate))" @onclick:stopPropagation="true" />

                </Template>
            </RadzenDataGridColumn>
        </Columns>

    </RadzenDataGrid>
</RadzenContent>
@code{
    string fullName;
}